:root{
  --background-color: #eaeaea;
  --primary-color: #EA1D25;
  --secundary-color: #FFF;
  --text-color: #5C6369;
  --text-color-light: rgba(92,99,105,0.45);
  --positive-variation-color: #87D883;
  --negative-variation-color: #f55a5f;

}

*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background-color);
}
